<?xml version='1.0' encoding='utf-8'?>
<widget id="com.virhec.cni31" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>CNI31</name>
    <description>
        Sistema de Información CARMELITA, aplicación para docentes, estudiantes y padres de familia de la Institución Educativa "Nuestra Señora del Carmen" del Distrito de Yanacancha Provincia y Departamento de Pasco.
    </description>
    <author email="hector@virhec.com" href="http://www.virhec.com">
        Compucenter VIRHEC
    </author>
    <preference name="orientation" value="portrait"/>
    <preference name="fullscreen" value="false"/>
    <icon src="www/images/logo.png" />
    <content src="index.html" />
    <access origin="*" />
</widget>
